.env
ai-service/.env
ai-service/__pycache__/
ai-service/*.py[cod]
ai-service/*.pyo
ai-service/*.pyd
ai-service/__pycache__/*.*
ai-service/utils/__pycache__/*.*
ai-service/services/__pycache__/*.*
ai-service/tests/__pycache__/*.*
ai-service/config/__pycache__/*.*
*.pyc
*.pyc
/ai-service/__pycache__
/ai-service/services/__pycache__
/ai-service/utils/__pycache__
*.pyc
/ai-service/utils/__pycache__
/ai-service/services/__pycache__
/ai-service/__pycache__
/ai-service/utils/__pycache__
*.zip
/ai-service/frontend/node_modules
